# Quarto ignore
__pycache__/
_freeze/
!.env.project
.dbxignore
.DS_Store
.env
.env*
.flaskenv*
.history/
.idea
.Rproj.user
.tmp.drivedownload/
.tmp.driveupload/
.vscode/settings.json
*_cache/
*_files/
*.dmg
*.pkg
*.RData
*.Rhistory
*.Rproj
*~
/_*.local
/.luarc.json
/.quarto/
/package/out
/tests/cov_profile
/tests/cov_profile.lcov
/tests/test-out.json
_*_*.html
_*_*.typ
.quartoignore
*.jpg
*.pdf
*.png
# *.qmd

build
cache/
package/dist/**
quarto_cli.egg-info
.omx/
